.hello {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 25px;
    margin: 10px 0;
}

.uk-form-icon:not(.uk-form-icon-flip) ~ .uk-textarea {
    padding-left: 40px !important;
}
.uk-form-icon-pencil {
    bottom: initial !important;
    margin: 0 !important;
    width: 40px !important;
    vertical-align: middle !important;
    padding-top: 7px !important;
}
